security:
  enable_authenticator_manager: true

  password_hashers:
    App\Entity\Customer:
      algorithm: auto

  providers:
    app_user_provider:
      entity:
        class: App\Entity\Customer
        property:

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: true
        default_target_path: app_order_my
        username_parameter: phone
        password_parameter: password
      logout:
        path: app_logout
        target: app_login

  access_control:
    - { path: ^/order/my, roles: ROLE_USER }
    - { path: ^/order/new, roles: ROLE_USER }
    - { path: ^/order/.*/edit, roles: ROLE_USER }
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: PUBLIC_ACCESS }

when@test:
  security:
    password_hashers:
      App\Entity\Customer:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
